@charset "utf-8";

/**************** 共通 ****************/
html{
}
body{
}


/**************** HEADER ****************/
header{
    background:#3C4767;
    color:#fff;
}
header a{
    color:#000;
}
#head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* アコーディオンメニュー */
#head .menu{
    position: relative;
    width: 200px;
}
#head #accordion{
    display: none;
}
#head .accordion-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}
#head .accordion-header .user-icon img{
    border-radius: 100%;
}
#head .accordion-inner{
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
    position: absolute;
    top:82px;
    right:0;
}
#head .accordion-inner li a{
    display: block;
    background-color: #fff;
    border: solid #888 0.5px;
    text-align: center;
    line-height: 50px;
    margin-bottom: -0.5px;
}
#head .accordion-inner li a:hover{
    background-color: orangered;
    color: #fff;
    transition: 0.5s;
}
/* アコーディオン機能の実装 */
#accordion:checked ~ .accordion-inner{
    height: 155px;
}


/**************** MAIN ****************/
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}



/**************** FOOTER ****************/
